./WEBHOOK/node_modules
./WEBHOOK/package-lock.json
# IntelliJ IDEA files
.APP/.idea
.APP/*.iml

# Gradle files
.APP/.gradle

# Local properties
.APP/local.properties

# OS-specific files
.APP/.DS_Store

# Build and capture directories
.APP/build
.APP/captures

# External native build directory
.APP/.externalNativeBuild

# C++ files
.APP/.cxx